@model List<WebApplMVC_Crud.Models.ViewModels.ListProductoVM>
@{
    ViewBag.Title = "Listado de Productos";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-12" style="text-align:right; padding:10px">
        <a href="~/Producto/Nuevo" class="btn btn-primary"> Nuevo Producto</a>
    </div>
    <div class="col-md-12">
        <table class="table table-hover">
            <tr>
                <th>No.</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th></th>
            </tr>
            @foreach (var lis in Model)
            {
                <tr>
                    <td>@lis.Id</td>
                    <td>@lis.Nombre</td>
                    <td>@lis.Descripcion</td>
                    <td>@lis.PrecioVenta</td>
                    <td>
                        <a class="btn btn-info" href="/Producto/Editar/@lis.Id">Editar</a>
                        <a class="btn btn-danger" href="/Producto/Eliminar/@lis.Id">Eliminar</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
